* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(180deg, #1bdd98 0%, rgba(220 0 198 / 83%) 100%);
  height: 100vh;
}

html {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.header__nav a {
  text-decoration: none;
  color: white;
}

.nav__menu img{
  width: 5%;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 110;
  mix-blend-mode: soft-light;
}

.header__main {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.main__img {
  height: 600px;
  display: block;
  object-fit: cover;
  width: auto;
  animation: moverDerecha 1s ease-in;
}

.main__texto {
  width: 50%;
  color: white;
}

.main__texto h1 {
  font-size: 80px;
  animation: moverAbajo 1s ease-in;
}

.main__texto h2 {
  font-size: 30px;
  animation: moverIzquierda 1s ease-in;

}

.main__texto a {
  display: inline-block;
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid white;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  animation: moverArriba 1s ease-in;

}

.bubbles{
  mix-blend-mode: overlay;
  right: 0;
  position: fixed;
  bottom: 0;
  width: 40%;
} 

.uno {
  -webkit-clip-path: circle(0% at 100% 0%);
  clip-path: circle(0% at 100% 0%);
}
.dos {
  -webkit-clip-path: circle(150% at 0% 0%);
  clip-path: circle(150% at 0% 0%);
}

.nav__links {
  position: fixed;
  display: flex;
  top: 0;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  right: 0;
  flex-direction: column;
  transition: all 1s ease;
  z-index: 100;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.attribution {
  position: absolute;
  font-size: 1rem;
  bottom: 5px;
}

@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moverDerecha {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moverArriba {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moverAbajo {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1100px) {
  .main__img {
    height: 500px;
  }

  .main__texto h1 {
    font-size: 60px;
  }

  .main__texto h2 {
    font-size: 20px;
  }

  .main__texto a {
    width: 100px;
  }
}
@media screen and (max-width: 790px) {
  .main__img {
    height: 400px;
  }

  .main__texto h1 {
    font-size: 50px;
  }

  .main__texto h2 {
    font-size: 20px;
  }

  .main__texto a {
    width: 100px;
  }
}
@media screen and (max-width: 650px) {
  .main__img {
    height: 400px;
    transform: rotate(270deg);
    animation: none;
  }

  .main__texto h1 {
    font-size: 50px;
    animation: none;
  }

  .main__texto h2 {
    font-size: 20px;
    animation: none;
  }

  .main__texto a {
    width: 100px;
    animation: none;
  }

  .header__main {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .main__texto {
    width: auto;
  }
}